.header-container {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.header .link-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2f42;
}

.nav {
    display: flex;
    align-items: center;
}

.link-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.nav-link {
    position: relative;

    display: block;
    padding: 24px 0;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.current {
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address {
    margin-left: auto;
}

.address .list {
    display: flex;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .address .list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address .link-mailto,
    .address .link-tel {
        font-size: 12px;
        line-height: 1.17;
    }
}

@media screen and (min-width: 1158px) {
    .address .list {
        flex-direction: row;
        gap: 40px;
    }

    .address .link-mailto,
    .address .link-tel {
        font-size: 16px;
        line-height: 1.5;
    }
}

.address .link-mailto,
.address .link-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link-mailto:focus,
.address .link-mailto:hover,
.address .link-tel:focus,
.address .link-tel:hover {
    color: #404bbf;
}

.menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.menu-open-icon {
    fill: #2f2f37;
}

.nav,
.address {
    display: none;
}

@media screen and (min-width: 768px) {
    .menu-open-btn {
        display: none;
    }

    .nav {
        display: flex;
    }

    .address {
        display: block;
    }
}
